*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    text-align: center;
    height: 98vh;
    overflow: hidden;
    background: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDk0LXguanBn.jpg");
    /* background: url("https://images.rawpixel.com/image_social_portrait/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00OTQtYmctMDE4Yl8xLWt6YzM1emRhLmpwZw.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
}
.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    box-shadow: inset 2px 2px 200px antiquewhite,
                3px 3px 20px #000;
    min-height: 350px;
    width: 50vw;
    margin-inline: auto;
}
.box{
    width: 200px;
    height: 300px;
    max-height: 400px;
    border: 2px solid;
    /* background-color: rgb(30, 120, 156); */
    /* background-color: rgb(240, 235, 228); */
    position: relative;
    border-radius:0 0 20px 20px;
    margin: 20px;
    border-top: none;
    cursor: pointer;
    display: flex;                                                                 
    flex-direction: column-reverse;
    /* align-items: end; */
    /* justify-content: flex-end; */
}
.contain{
    margin-bottom: 30px;
}
.in-contain{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.number{
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}
.in-contain .number:hover{
    background-color: black;
    color: #fff;
}
.number:active{
    transform: scale(0.98);
}
.btn{
    position: absolute;
    /* top: 0; */
    bottom: -40px;
    transform: translate(-50%, 50%);
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(85, 37, 130);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
/* .btn:active{
    transform: scale(0.98);
} */
.nums{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
 .num{
    padding: 0;
    margin: 0;
    border: 0;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}